.avatar {
  border-radius: 50%;
  width: 64px;
  min-width: 64px;
  height: 64px;
  margin-top: 10px;
}

.status {
  text-transform: capitalize;
}

.description {
  max-width: 100vw;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}
