@import "styles/site/_colors";

.editor{
  // min-height: 800px;
  // padding:5px 10px;
  // border:1px solid $borderFormColor;
  // border-top:0px;
  // margin:0px 0px 20px;
}

.toolbar{
  margin:0px;
  border-color:$borderFormColor ;
  border-radius:5px 5px 0px 0px;
}