.link {
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.avatar {
  border-radius: 50%;
  width: 64px;
  min-width: 64px;
  height: 64px;
}

.avatarCell {
  max-width: 96px; 
  width: 96px;
}

.status {
  text-transform: capitalize;
}