@import "styles/site/_variables";

.footer{
  background: #f9f9f9;
  margin:50px 0px 0px;
}

.footer_top{
  padding:20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: start;

  @media (max-width: $mediaTablet) {
    display: block;
    text-align: center;
  }
}

.content{
  max-width: $contentWidth;
  margin:0px auto;

}

.navigation{
  ul{
    display: flex;

    @media (max-width: $mediaTablet) {
      display: block;
      text-align: center;
      margin-bottom:30px;
    }

    li{
      margin:0px 50px;
    }
  }

  a:hover{
    text-decoration: underline;
  }
}


.copyright{
  background: #212121;
  color:#ffffff;


}

.copyright_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo{
  font-weight:bold;
  font-size:40px;

}

.app_links_btn{
  margin:0px 0px 10px !important;
}

