@import "styles/admin/_colors";

.navigation {

}
.nav_profile{
  align-items: center;
  background-color: rgb(244, 245, 247);
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  padding: 16px;
  margin:15px;
  h6{
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.57;
    color: rgb(23, 43, 77);
    margin: 0px;
  }
}
.avatar {
  /*   cursor: pointer;*/
  width: 64px;
  height: 64px;
  margin-right:10px;
}
li.item {
  display: block;
  padding-top: 0;
  padding-bottom: 0;
}
li.itemLeaf {
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
  a{
    display: block;
    width: 100%;
  }
}
button.button {
  color: $textSecondary;
  padding: 10px 8px;
  justify-content: flex-start;
  text-transform: none;
  letter-spacing: 0;
  width: 100%;
}
button.buttonLeaf {
  color: $textSecondary;
  padding: 10px 8px;
  justify-content: flex-start;
  text-transform: none;
  letter-spacing: 0;
  width: 100%;
  font-weight: 400;
  &.depth-0{
    .title {
      font-weight: 500;
    }
  }
}
.icon {
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.title {
  margin-right: auto
}
.active {
  color: $secondary;
  & .title {
    font-weight: 500;
    color: $secondary;
  }
  & .icon {
    color: $secondary
  }
}

.mobile_drawer {
  width: 256px;
}
.desktop_drawer {
  width: 256px;
  position:relative !important;
  top: 64px !important;
  height: calc(100% - 64px) !important;
}