$black: #121212;
$blue: #1865D8;
$blueLight: #EFF8FF;
$gray: #676767;
$grayLight: #CBCBCB;
$grayDark: #222222;
$white: #ffffff;

$textDark: #222222;
$textGray: #676767;
$textGrayLight: #A5A5A5;
$text: #018981;
$textRed: #B12341;
$textSuccess: #34C759;

$actionActive: #546e7a;
$actionHover: rgba(255, 255, 255, 0.04);
$actionSelected: rgba(255, 255, 255, 0.08);
$actionDisabled: rgba(255, 255, 255, 0.26);
$actionDisabledBackground: rgba(255, 255, 255, 0.12);
$actionFocus: rgba(255, 255, 255, 0.12);
$backgroundDefault: #ffffff;
$backgroundDark: #f4f6f8;
$backgroundPaper: #ffffff;
$primary:#3949ab;
$secondary:#5850EC;
$textPrimary: #263238;
$textSecondary: #546e7a;
$topbarBackgroud : #3949ab;

/*Dark Theme*/
/*
@value actionActive: rgba(255, 255, 255, 0.54);
@value actionHover: rgba(255, 255, 255, 0.04);
@value actionSelected: rgba(255, 255, 255, 0.08);
@value actionDisabled: rgba(255, 255, 255, 0.26);
@value actionDisabledBackground: rgba(255, 255, 255, 0.12);
@value actionFocus: rgba(255, 255, 255, 0.12);
@value backgroundDefault: #282C34;
@value backgroundDark: #1c2025;
@value backgroundPaper: #282C34;
@value primary:#8a85ff;
@value secondary:#8a85ff;
@value textPrimary: #e6e5e8;
@value textSecondary: #adb0bb;
@value topbarBackgroud : #282C34;*/

/*Unicorn Theme*/
/*
@value actionActive: rgba(255, 255, 255, 0.54);
@value actionHover: rgba(255, 255, 255, 0.04);
@value actionSelected: rgba(255, 255, 255, 0.08);
@value actionDisabled: rgba(255, 255, 255, 0.26);
@value actionDisabledBackground: rgba(255, 255, 255, 0.12);
@value actionFocus: rgba(255, 255, 255, 0.12);
@value backgroundDefault: #2a2d3d;
@value backgroundDark: #222431;
@value backgroundPaper: #2a2d3d;
@value primary:#a67dff;
@value secondary:#a67dff;
@value textPrimary: #f6f5f8;
@value textSecondary: #9699a4;
@value topbarBackgroud : transparent;*/
