.loader{
  position: absolute;
  left:0px;
  top:0px;
  right:0px;
  bottom:0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.inline{
  position: static;
  padding:10px;
  text-align: center;
  margin:0px auto;
}