@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import '~react-toastify/dist/ReactToastify.css';
@import "~react-image-gallery/styles/scss/image-gallery.scss";

@import 'helpers';
@import 'reset';
@import 'material-ui';
body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
a {
  color: #018981;
}
a:hover {
  text-decoration: underline;
}

